script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js")
script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-cookies.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-loader.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-sanitize.js")
script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.js")
//script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.2.0/ui-bootstrap-tpls.js")
//script(src="//raw.github.com/angular-ui/angular-ui.github.com/master/lib/calendar/fullcalendar.js")
script(src="/libs/fullcalendar.js")
script(src="/libs/calendar.js")
script(src="/libs/ui-bootstrap-tpls-0.3.0.js")
script(src="/javascripts/app.js")
script(src='/javascripts/services.js')
script(src='/javascripts/controllers.js')
script(src='/javascripts/filters.js')
script(src='/javascripts/directives.js')