script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-cookies.min.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-loader.min.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-sanitize.min.js")
script(src="/libs/bootstrap/js/bootstrap.min.js")
script(src="/javascripts/app.js")
script(src='/javascripts/services.js')
script(src='/javascripts/controllers.js')
script(src='/javascripts/filters.js')
script(src='/javascripts/directives.js')