block prepend content
  .contain-to-grid.sticky.ng-cloak
    nav.top-bar(ng-controller='NavCtrl')
      ul.title-area
        li.name
          h1
            a(ng-href="#")
              span RENTAL MANAGER
        li.toggle-topbar.menu-icon
          a(ng-href="#")
            span Menu
      section.top-bar-section
        ul.right
          li.divider
          li: a(ng-href="/property/new") PN
          li.divider
          li: a(ng-href="/reservations") Reservations
          li.divider
          li: a(ng-href="/properties") Rentals
          li.divider
          li: a(ng-href="#", ng-click="logout()") Logout
