.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner(ng-controller='NavCtrl')
    .container
      .row
        .span10.offset1
          button.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(ng-href="/")
            span RENTAL MANAGER
          .nav-collapse.collapse
            ul.nav
              li: a(ng-href="/rental/new") PN
              li: a(ng-href="/reservations") Reservations
              li: a(ng-href="/rentals") Rentals
              li.dropdown
                a.dropdown-toggle(ng-href="#", data-toggle="dropdown") Dropdown
                  b.caret
                ul.dropdown-menu
                  li: a(ng-href="#") Contact
                  li.divider
                  li.nav-header: Nav header
                  li: a(ng-href="#") About
                  li: a(ng-href="#", ng-click="logout()") Logout
