!!!
html(lang='en', data-ng-app='rentalApp')
  head
    include ../views/includes/head
  body
    include ../views/includes/navigation
    .container
      .row
        .span10.offset1
          div(data-ng-view)
    include ../views/includes/footer