extends ../views/layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        button.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#")
          span RENTAL MANAGER
        .nav-collapse.collapse
          ul.nav
            li.active: a(href="#") Home
            li: a(href="#") About
            li: a(href="#") Contact
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown") Dropdown
                b.caret
              ul.dropdown-menu
                li: a(href="#") Action1
                li: a(href="#") Action2
                li.divider
                li.nav-header: Nav header
                li: a(href="#") Action3
                li: a(href="#") Action4
          form.navbar-form.pull-right(name="loginForm")
            input.input-small(ng-model='email', type='email', name='email', required, placeholder='Email')
            input.input-small(ng-model='password', type='password', name='password', required, placeholder='Password')
            button.btn(ng-click='Login()') Login
            
  .container
    //.hero-unit BANNER IMAGE GOES HERE
    .row
      .span12
        div(ng-view)  

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-cookies.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-loader.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-sanitize.min.js")
  script(src="/libs/bootstrap/js/bootstrap.min.js")
  script(src="/javascripts/app.js")
  script(src='/javascripts/services.js')
  script(src='/javascripts/controllers.js')
  script(src='/javascripts/filters.js')
  script(src='/javascripts/directives.js')