!!!
html(lang='en', data-ng-app='rentalApp')
  head
    include ../views/includes/head
  body
    include ../views/includes/navigation
    .row-fluid
      div(data-ng-view)
    include ../views/includes/footer