!!!
html(lang='en')
  meta(charset='utf8')
  meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
  meta(name='viewport',content='width=device-width, initial-scale=1.0')
  title Rental Manager
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css')
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css')
  // Fav and touch icons
  link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/images/apple-touch-icon-144-precomposed.png")
  link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/images/apple-touch-icon-114-precomposed.png")
  link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/images/apple-touch-icon-72-precomposed.png")
  link(rel="apple-touch-icon-precomposed", href="/images/apple-touch-icon-57-precomposed.png")
  link(rel="shortcut icon", href="/images/favicon.png")
  script(type="text/javascript")
    (function() {
        if (typeof window.janrain !== 'object') window.janrain = {};
        if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};

        janrain.settings.tokenUrl = '#{token_url}';

        function isReady() { janrain.ready = true; };
        if (document.addEventListener) {
          document.addEventListener("DOMContentLoaded", isReady, false);
        } else {
          window.attachEvent('onload', isReady);
        }

        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.id = 'janrainAuthWidget';

        if (document.location.protocol === 'https:') {
          e.src = 'https://rpxnow.com/js/lib/rentalmgr/engage.js';
        } else {
          e.src = 'http://widget-cdn.rpxnow.com/js/lib/rentalmgr/engage.js';
        }

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(e, s);
    })();

  body.antialiased
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="#")
            span RENTAL MANAGER
          .nav-collapse.collapse
            ul.nav
              li: a(href="#") About
    .container
      //.hero-unit BANNER IMAGE GOES HERE
      .row-fluid
        .span5.offset3.well-large
          div(id="janrainEngageEmbed")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
