!!!
html(ng-app="testApp", lang='en')
  head
    meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    title Rental Manager
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css')
  body
    .container(ng-controller="TabsDemoCtrl", ng-cloak="")
      tabs
        pane(heading="Info")
          p pane1
        pane(heading="Info2")
          p pane2    
        pane(ng-repeat="pane in panes", heading="{{pane.title}}", active="pane.active") {{pane.content}}
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-cookies.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-loader.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-sanitize.js")
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.2.0/ui-bootstrap-tpls.js")
    script(src="/javascripts/testbed.js")