@media (max-width: 767px) {
  .navbar a.brand {
    padding: 10px 20px;
  }
  .content {
    margin: 0 0 1.5em 0;
  }
  img.rental-main-image {
    margin-bottom: 14px;
  }
  .row-fluid .controls-row [class*="span"]+[class*="span"] {
    margin-left: 0;
  }
  .input-helper.each-year {
    margin: 0;
  }
  .season-event {
    padding-right: 0;
    border-right: 0;
  }
}
@media (max-width: 480px) {
  input.input-rate {
    width: 90px;
  }
  .rental-save {
    margin-top: 14px;
  }
}
