img.rental
  float: left
  margin-right: 1em
  margin-bottom: 1em
  background-color: white
  padding: 1em
  height: 150px
  width: 150px
input.ng-pristine.ng-invalid
	border: solid 2px red
input.ng-dirty.ng-invalid
	border: solid 2px red
input.ng-dirty.ng-valid
	border: solid 2px green
