body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #B0B3B5
a
  color: #00B7FF
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments
.navbar a.brand
  padding: 10px 14px
.content
  background-color: #FFFFFF
  margin: 72px 0 40px 0
  padding: 8px 24px 24px 24px
  border-radius: 7px
ul.nav
  margin-bottom: 0
ul.nav.nav-tabs
  background-color: #F0F0F0
  padding: 8px 10px 0 10px
  border-top: 1px solid #dddddd
  border-right: 1px solid #dddddd
  border-left: 1px solid #dddddd
  border-radius: 5px 5px 0 0
.nav-tabs>.active>a
.nav-tabs>.active>a:hover
.nav-tabs>.active>a:focus
  background-color: #FCFCFC
.nav-tabs>li>a
  font-weight: bold
.rental-save
  margin: 8px 10px 0 0
.tab-content
  background-color: #FCFCFC
  padding: 14px
  border-right: 1px solid #DDDDDD
  border-bottom: 1px solid #DDDDDD
  border-left: 1px solid #DDDDDD
  border-radius: 0 0 5px 5px
  overflow: visible
input.ng-pristine.ng-invalid
  border: solid 2px red
input.ng-dirty.ng-invalid
  border: solid 2px red
input.ng-dirty.ng-valid
  border: solid 2px green
.nav>li>a:hover
.nav>li>a:focus
  background: #DDDDDD
  cursor: pointer
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus
  font-weight: bold
img.rental-main-image
  border-radius: 4px
.tab-content label
  font-weight: bold
label.rental-name
  font-size: 17.5px
h4.seasonal-rate
h4.event-rate
  margin-top: 48px
.icon-in-h4
  margin-top: 5px 
.nightly-label
  float: left
  margin: 5px 8px 0 0
  font-weight: normal !important
.control-group
  margin-bottom: 0
.input-append .add-on
.input-prepend .add-on
  background-color: #F5F5F5
.season-event
  padding-right: 9px
  border-right: 1px solid #EDEDED
.season-event select
  margin-right: 6px
.input-season-name
.input-event-name
.input-contract-title
  font-weight: bold
.input-year
  width: 74px
.input-month
  width: 82px
.input-day
  width: 68px
.input-helper
  position: relative
  top: -3px
  margin: 0 8px 0 4px
.line-break
  height: 0
.input-rate
  width: 90px
.h-divider hr
  margin: 10px 0
a span.delete-rate:hover
a span.delete-rate:focus
  cursor: pointer
.well-rates
.well-contract
  background-color: #F9F9F9
  border: 1px solid #EDEDED
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0)
.well-contract
  margin-bottom: 20px
.well.debug
  display: none
  margin-top: 200px