body {
  padding-top: 60px;
}
padding-bottom: 40px {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
input.ng-pristine.ng-invalid {
  border: solid 2px #f00;
}
input.ng-dirty.ng-invalid {
  border: solid 2px #f00;
}
input.ng-dirty.ng-valid {
  border: solid 2px #008000;
}
