img.rental {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: #fff;
  padding: 1em;
  height: 50px;
  width: 50px;
}
input.ng-pristine.ng-invalid {
  border: solid 2px #f00;
}
input.ng-dirty.ng-invalid {
  border: solid 2px #f00;
}
input.ng-dirty.ng-valid {
  border: solid 2px #008000;
}

