body
  padding-top: 60px
	padding-bottom: 40px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
input.ng-pristine.ng-invalid
	border: solid 2px red
input.ng-dirty.ng-invalid
	border: solid 2px red
input.ng-dirty.ng-valid
	border: solid 2px green
img.rental
  float: left
  margin-right: 1em
  margin-bottom: 1em
  background-color: white
  padding: 1em
  height: 50px
  width: 50px
