.container-fluid
  .row-fluid
    .span11.offset1
      tabs
        pane(heading="Info")
          include info
        pane(heading="Rates")
          include rates
        pane(heading="Contracts")
          include contracts
