.container-fluid
  .row-fluid
    .span11.offset1
      tabs
        pane(heading="Info")
          //- include info
          div(ng-include src=" '/partials/rental/partial/info' ")
        pane(heading="Rates")
          //- include rates
          div(ng-include src=" '/partials/rental/partial/rates' ")
        pane(heading="Contracts")
          //- include contracts
          div(ng-include src=" '/partials/rental/partial/contracts' ")
