.row
  .span10.content
    span.label.label-success.pull-right(data-ng-show="rntlNotification") {{rntlNotification}}
    h3
      p(data-ng-show="rental.name") {{rental.name}}
      p(data-ng-show="!rental.name") Your Rental Unit
    button.btn.btn-primary.pull-right.rental-save.hidden-phone(data-ng-click="update()",
               data-ng-disabled="!rental.name") Save all changes
    tabs
      pane(data-ng-repeat="tab in tabs",
           select="updateUrl(tab)",
           heading="{{tab.title}}",
           active="tab.active")
        div(data-ng-include src="tab.template")
