.row-fluid
  .span4
    .control-group
      .controls
        img.rental-main-image(data-ng-src="{{mainImageUrl}}")
  .span8
    .control-group
      .controls
        label.rental-name Rental Unit Name:
        input.input-med(data-ng-model='rental.name', 
                        type="text", 
                        placeholder='', 
                        id="pname")
button.btn.btn-primary.rental-save.visible-phone(data-ng-click="update()",
           data-ng-disabled="!rental.name") Save all changes
.well.debug
  p Debug Info:
  pre {{rental | json}}
